<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    <header>
        <div id="head">
            <div id="logo">
                <a href="./"><img src="logo.png" width="75px" height="65px"></a>
            </div>
            <div>
                <nav>
                    <h6>
                        <ul id="navGrid">
                            <li><a href="./">
                                    <div class="nav">Home</div>
                                </a></li>
                            <li><a href="room">
                                    <div class="nav">Room list</div>
                                </a></li>
                                {{#if user}}
                                    <li><a href="logout">
                                    <div class="nav">Logout</div>
                                </a></li>
                                {{else}}
                            <li><a href="login">
                                    <div class="nav">Login</div>
                                </a></li>
                            <li><a href="register">
                                    <div class="nav">Sign up</div>
                                </a></li>
                                {{/if}}
                        </ul>
                    </h6>
                </nav>
            </div>
        </div>
    </header>
    {{{body}}}
    <footer class="footer">
        <div class="links">
            <div class="menu-links">
                <h5 style="font-size: 1.3vw">
                    <ul id="quick-links">
                        <li><a href="./">Home</a></li>
                        <li><a href="room">Room list</a></li>
                        {{#if user}}
                            <li><a class="box3" href="/logout">Logout</a></li>
                        {{else}}
                        <li><a href="login">Login</a></li>
                        <li><a href="register">Sign up</a></li>
                        {{/if}}
                    </ul>
                </h5>
            </div>
            <div class="social-media">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <ul class="list-unstyled list-inline social text-center">
                            <li class="list-inline-item"><a href="https://www.facebook.com/"><i
                                        class="fa fa-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="https://twitter.com/"><i
                                        class="fa fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="https://www.instagram.com/"><i
                                        class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <spans>© 2020 MYSTIC, Inc. All rights reserved.</span>
        </div>
    </footer>
    <script>
window.onscroll = function() {myFunction()};

var header = document.getElementById("head");
var sticky = header.offsetTop;

function myFunction() {
  if (window.pageYOffset > sticky) {
    header.classList.add("sticky");
  } else {
    header.classList.remove("sticky");
  }
}
</script>
</body>
</html>