<div class="admin-class">
<div class="home_promo3">Administrator mode</div>
<div class="home_promo3">Welcome!</div>
<div class="admin_user">Hi! {{user.firstname}} {{user.lastname}}</div>

<div><a class="admin_user" href="/room">Room List</a></div><br><br><br>
<div><a class="admin_user" href="/add">Create a Room</a></div>
</div>