<form method="POST" action="/login" class="login-form">
    <b><h3>Login</h3></b>
    <div class="form-row">
        <div class="col-sem-4">
            <label for="exampleInputEmail1">Email address*</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" data-error="Email is required" required="required">
        </div>
    </div>
    <div class="form-row">
        <div class="col-sem-4">
            <label for="exampleInputPassword1">Password*</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" data-error="Password is required" required="required">
        </div>
    </div><br>
    <button type="submit" class="btn btn-info btn-send" value="Send message">Login</button>
    <button class="btn btn-send" type="reset">Reset</button>
</form><br>