<section>
    <div class="room">
        <div class="roomPicture">
        <ul>
            <li><img src="/room1.png"></li>
            <p>1 bedroom for single night</p>
                <b><span>Lux village</span></b>
                <p>$29.99</p>
            <li class="book"><a href="register" class="btn btn-outline-info">Book Now</a></li><br>
            <li class="show_more"><a href="register" class="btn btn-outline-info">More details</a></li>
        </ul>
        </div>
        <div class="roomPicture">
            <ul>
                <li><img src="/room2.png"></li>
                <p>1 bedroom for single night</p>
                    <b><span>sea world</span></b>
                    <p>$29.99</p>
                <li class="book"><a href="register" class="btn btn-outline-info">Book Now</a></li><br>
                <li class="show_more"><a href="register" class="btn btn-outline-info">More details</a></li>
            </ul>
        </div>
        <div class="roomPicture">
            <ul>
                <li><img src="/room3.png"></li>
                <p>1 bedroom for single night</p>
                    <b><span>leaside residence</span></b>
                    <p>$39.99</p>
                <li class="book"><a href="register" class="btn btn-outline-info">Book Now</a></li><br>
                <li class="show_more"><a href="register" class="btn btn-outline-info">More details</a></li>
            </ul>
        </div>
    </div>
    <div class="room">
        <div class="roomPicture">
            <ul>
                <li><img src="/room4.png"></li>
                <p>1 bedroom for single night</p>
                    <b><span>Rose Garden</span></b>
                    <p>$49.99</p>
                <li class="book"><a href="register" class="btn btn-outline-info">Book Now</a></li><br>
                <li class="show_more"><a href="register" class="btn btn-outline-info">More details</a></li>
            </ul>
        </div>
        <div class="roomPicture">
            <ul>
                <li><img src="/room5.png"></li>
                <p>1 bedroom for single night</p>
                    <b><span>Pink villa</span></b>
                    <p>$79.99</p>
                <li class="book"><a href="register" class="btn btn-outline-info">Book Now</a></li><br>
                <li class="show_more"><a href="register" class="btn btn-outline-info">More details</a></li>
            </ul>
        </div>
        <div class="roomPicture">
            <ul>
                <li><img src="/room6.png"></li>
                <p>1 bedroom for single night</p>
                    <b><span>bnaff roofs</span></b>
                    <p>$99.99</p>
                <li class="book"><a href="register" class="btn btn-outline-info">Book Now</a></li><br>
                <li class="show_more"><a href="register" class="btn btn-outline-info">More details</a></li>
            </ul>
        </div>
    </div>
</section>           